<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Result</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="resultpage">
    <p>Player: <%= session[:name] %></p>
    <% session[:results].each_with_index do |round, index| %>
        <h2>Round <%= index + 1%></h2>
        <p>Player Choice: <%= round[:player] %></p>
        <p>Computer Choice: <%= round[:computer] %></p>
    <% end %>
    <h3> Total wins: <%= session[:win_count] %> </h3>
    <h3>Total loss: <%= session[:lose_count] %></h3>
    <h3>Total ties: <%= session[:tie_count]%></h3>
    <center><a href="/">Back to Homepage</a></center>
</body>
</html>